.headertest {
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 100px;
  text-align: center;
  font-family: 'Fasthand', cursive;
  display: flex;
  align-items: center;
  justify-content: space-around; 
  margin-top: 3vw;
  img {
    height: 130px;
  }

  .link{
    font-size: 30px;
    padding-left: 40px;
  }
  

}
